<ul class="white">
    <li>
        <a id="logo" href="{{ base_url == '' ? '/' : base_url }}">
            <img src="{{ url('theme://images/logo-regles-white.png') }}" alt="{{ site.name }}">
            <h1 id="title">{{ config.site.title }}</h1>
        </a>
    </li>
    <li>
        <ul>
        {% for p in pages.find('/home').collection.visible %}
            <li class="project">
                <a href="{{ p.url ~ '#top' }}">
                    {{ p.menu }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </li>
    <li>
        {% set contact = pages.find('/home/contact') %}
        <a href="{{ contact.url ~ '#top' }}">
            {{ contact.menu }}
        </a>
    </li>
</ul>
