<ul class="white">
    <li>
        <a id="logo" href="{{ base_url == '' ? '/' : base_url }}">
            <img src="{{ url('theme://images/logo-regles-white.png') }}" alt="{{ site.name }}">
            <h1 id="title">{{ config.site.title }}</h1>
        </a>
    </li>
    <li>
        <ul>
            {% for p in pages.find('/home').children.visible %}
                {% if not ('home/contact' in p.url) %}
                    {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}
                        <li class="project {{ current_page }}">
                            <a href="{{ p.url }}">
                                {{ p.menu }}
                            </a>
                        </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
    <li>
        {% set contact = pages.find('/home/contact') %}
        <a href="{{ contact.url }}">
            {{ contact.menu }}
        </a>
    </li>
</ul>
