<article class="sample content black">
        <time datetime="{{ page.date|date("c") }}">
            <span>{{ page.date|date("d") }}</span>
            <em>{{ 'MONTHS_OF_THE_YEAR_ABBR'|ta(page.date|date('n') - 1) }}</em>
        </time>
        <h2><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h2>

        {% if page.taxonomy.category %}
        <ul class="tags inline">
            {% for category in page.taxonomy.category %}
            <li>
                <a href="{{ blog.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

    {% if truncate and page.summary != page.content %}
        <div>
            {{ page.summary }}
            <p><a href="{{ page.url }}">{{ 'NIGHT_RULES.ARTICLE.CONTINUE_READING'|t }}</a></p>
        </div>
    {% elseif truncate %}
        <div>
            {{ page.content }}
            <p><a href="{{ page.url }}">{{ 'NIGHT_RULES.ARTICLE.CONTINUE_READING'|t }}</a></p>
        </div>
    {% else %}
        <div>
            {{ page.content }}
        </div>
    {% endif %}
</article>
