{% embed 'blog.html.twig' %}

{% block main %}
<div class="container content black">
    <h1>
        <svg viewBox="-2 -2 102 30">
          <path id="title-curve" d="M0,23.65 C31.35,11.1,64.95,3,100,0"/>
          <path class="curve" d="M0,25.65 C31.35,13.1,64.95,5,100,2"/>
          <text>
            <textPath xlink:href="#title-curve">{{ page.title}}</textPath>
          </text>
        </svg>
    </h1>
    {{ page.content }}

    {% if page.taxonomy.category %}
    <ul class="tags">
        <span>Catégories :</span>
        {% for category in page.taxonomy.category %}
        <li>
            <a href="{{ blog.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if page.taxonomy.tag %}
    <ul class="tags">
        <span>Tags :</span>
        {% for tag in page.taxonomy.tag %}
        <li>
            <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}

{% block pagination %}
<ul>
    {% if not page.isFirst %}
        <li class="next">
            <a href="{{ page.nextSibling.url }}"><i></i> {{ 'NIGHT_RULES.ARTICLE.NEXT_POST'|t }}</a>
        </li>

    {% endif %}

    {% if not page.isLast %}
        <li class="prev">
            <a href="{{ page.prevSibling.url }}">{{ 'NIGHT_RULES.ARTICLE.PREV_POST'|t }}</a>
        </li>
    {% endif %}
</ul>
{% endblock %}

{% endembed %}
